<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sentiment Demo</title>

    <!-- Bootstrap -->
    <link href="../static/styles/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/styles/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="" rel="stylesheet">

<style TYPE="text/css">
thead th {
    background-color: #006DCC;
    color: white;
}
</style>

<script>

$(document).ready(function() {
  $('#tab_logic').hide();

  var entityMap = {
    '&': '&amp;','<': '&lt;','>': '&gt;','"': '&quot;',"'": '&#39;','/': '&#x2F;','`': '&#x60;','=': '&#x3D;'
  };

  var esc = function (string) {
    return String(string).replace(/[&<>"'`=\/]/g, function (s) {
      return entityMap[s];
    });
  };

  var i = 1;
  var pred = function() { 
    var req = $("#text").val();
    $.ajax({url: "/predict?text=" + encodeURIComponent(req), success: function(result) {
      var res = result.split(",")
      var tr = $('#tab_logic').append("<tr><td>"+ i +"</td><td>" + esc(req) + "</td><td>" + esc(res[0]) + "</td><td>" + esc(res[1]) + "</td><tr>");
      $('#tab_logic').show();
      i++;
      $("#text").val("");
    }});
  };

  $("#text").keypress(function(e) {
    if(e.which == 13) {
      pred();
    }
  });

  $("#predict").click(pred);
  $("#text").focus();

});

    </script>


  </head>

  <body>

    <div class="container">
      <h1 class="text-center">Sentiment Analysis Demo</h1>
      <div class="row clearfix">
	<div class="col-md-12 column">
	  <table class="table table-bordered table-hover" id="tab_logic">
	    <thead>
	      <tr >
		<th class="text-center.col-xs-1">
		  #
		</th>
		<th class="text-center.col-xs-3">
		  Text
		</th>
		<th class="text-center.col-xs-1">
		  Class
		</th>
		<th class="text-center.col-xs-1">
		  Prob.
		</th>
	      </tr>
	    </thead>
	    <tbody>
	    </tbody>
	  </table>
	</div>
      </div>
  
      <div class="input-group">
        <input id="text" type="text" placeholder="Write text here and press 'Enter' or click 'Predict'" class="form-control">
        <span class="input-group-btn">
          <button id="predict" class="btn btn-default" type="button">Predict!</button>
        </span>
      </div>

    </div>
  </body>
</html>
